.container {
    border: 1px solid black;
    display: flex;
    height: 800px;
    justify-content: center;
}

.img-container {
    border: 1px solid red;
    justify-content: center;
    
}

img {
    height: 200px;
    justify-content: center;
}

form {
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}